/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define AS(keycode) &as LS(keycode) keycode

/ {
        chosen {
                zmk,physical-layout = &foostan_corne_5col_layout;
        };

        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                        if-layers = <1 2>;
                        then-layer = <3>;
                };
        };

        combos {
                compatible = "zmk,combos";
                combo_esc {
                        timeout-ms = <50>;
                        key-positions = <0 1>;
                        bindings = <&kp ESC>;
                };
                combo_backspace {
                        timeout-ms = <50>;
                        key-positions = <8 9>;
                        bindings = <&kp BSPC>;
                };
                combo_tab {
                        timeout-ms = <50>;
                        key-positions = <10 11>;
                        bindings = <&kp TAB>;
                };
                combo_undo {
                        timeout-ms = <50>;
                        key-positions = <20 21>;
                        bindings = <&undo>;
                };
                combo_redo {
                        timeout-ms = <50>;
                        key-positions = <20 11>;
                        bindings = <&redo>;
                };
                combo_copy {
                        timeout-ms = <50>;
                        key-positions = <21 22>;
                        bindings = <&copy>;
                };
                combo_cut {
                        timeout-ms = <50>;
                        key-positions = <21 23>;
                        bindings = <&cut>;
                };
                combo_paste {
                        timeout-ms = <50>;
                        key-positions = <22 23>;
                        bindings = <&paste>;
                };
        };

        macros {
                duplicate_line: duplicate_line {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LSHFT)
                                &macro_press &kp LS(LSHFT)
                                &macro_tap &kp DOWN
                                &macro_release &kp LC(LSHFT)
                                &macro_release &kp LS(LSHFT)
                        >;
                };
                workspace_left: workspace_left {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LCTRL
                                &macro_tap &kp LEFT
                                &macro_release &kp LCTRL
                        >;
                };
                workspace_right: workspace_right {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LCTRL
                                &macro_tap &kp RIGHT
                                &macro_release &kp LCTRL
                        >;
                };
                console_log: console_log {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LCTRL
                                &macro_press &kp LC(LSHFT)
                                &macro_tap &kp L
                                &macro_release &kp LCTRL
                                &macro_release &kp LC(LSHFT)
                        >;
                };
                browser_back: browser_back {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LGUI)
                                &macro_tap &kp LBKT
                                &macro_release &kp LC(LGUI)
                        >;
                };
                browser_forward: browser_forward {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LGUI)
                                &macro_tap &kp RBKT
                                &macro_release &kp LC(LGUI)
                        >;
                };
                lock_screen: lock_screen {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LCTRL
                                &macro_press &kp LC(LGUI)
                                &macro_tap &kp Q
                                &macro_release &kp LCTRL
                                &macro_release &kp LC(LGUI)
                        >;
                };
                search: search {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LGUI)
                                &macro_tap &kp F
                                &macro_release &kp LC(LGUI)
                        >;
                };
                search_global: search_global {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LGUI)
                                &macro_press &kp LS(LSHFT)
                                &macro_tap &kp F
                                &macro_release &kp LS(LSHFT)
                                &macro_release &kp LC(LGUI)
                        >;
                };
                search_file: search_file {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LGUI)
                                &macro_tap &kp P
                                &macro_release &kp LC(LGUI)
                        >;
                };
                search_command: search_command {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LGUI)
                                &macro_press &kp LS(LSHFT)
                                &macro_tap &kp P
                                &macro_release &kp LS(LSHFT)
                                &macro_release &kp LC(LGUI)
                        >;
                };
                switch_window: switch_window {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LGUI)
                                &macro_tap &kp TAB
                                &macro_release &kp LC(LGUI)
                        >;
                };
                switch_tab: switch_tab {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LCTRL
                                &macro_tap &kp TAB
                                &macro_release &kp LCTRL
                        >;
                };
                // 📋 Copy (CMD + C)
                copy: copy {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_tap &kp C
                                &macro_release &kp LGUI
                        >;
                };

                // ✂️ Cut (CMD + X)
                cut: cut {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_tap &kp X
                                &macro_release &kp LGUI
                        >;
                };

                // 📥 Paste (CMD + V)
                paste: paste {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_tap &kp V
                                &macro_release &kp LGUI
                        >;
                };

                // ↩️ Undo (CMD + Z)
                undo: undo {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_tap &kp Z
                                &macro_release &kp LGUI
                        >;
                };

                // ↪️ Redo (CMD + Shift + Z)
                redo: redo {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_press &kp LSHFT
                                &macro_tap &kp Z
                                &macro_release &kp LSHFT
                                &macro_release &kp LGUI
                        >;
                };
                close_tab: close_tab {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LGUI)
                                &macro_tap &kp W
                                &macro_release &kp LC(LGUI)
                        >;
                };
                undo_close_tab: undo_close_tab {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LGUI)
                                &macro_press &kp LS(LSHFT)
                                &macro_tap &kp T
                                &macro_release &kp LS(LSHFT)
                                &macro_release &kp LC(LGUI)
                        >;
                };
                close_app: close_app {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LGUI)
                                &macro_tap &kp Q
                                &macro_release &kp LC(LGUI)
                        >;
                };
                move_line_up: move_line_up {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LSHFT)
                                &macro_tap &kp UP
                                &macro_release &kp LC(LSHFT)
                        >;
                };
                move_line_down: move_line_down {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LSHFT)
                                &macro_tap &kp DOWN
                                &macro_release &kp LC(LSHFT)
                        >;
                };
                move_word_left: move_word_left {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LSHFT)
                                &macro_tap &kp LEFT
                                &macro_release &kp LC(LSHFT)
                        >;
                };
                move_word_right: move_word_right {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LC(LSHFT)
                                &macro_tap &kp RIGHT
                                &macro_release &kp LC(LSHFT)
                        >;
                };
        };

        behaviors {
                as: auto_shift {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping_term_ms = <200>;
                        quick_tap_ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };
        keymap {
                compatible = "zmk,keymap";

                mac_layer {
                        display-name = "Mac";
                        bindings = <
   AS(Q) AS(W) AS(E)      AS(R)   AS(T)          AS(Y)     AS(U)   AS(I)          AS(O)            AS(P)
   AS(A) AS(S) AS(D)      AS(F)   AS(G)          AS(H)     AS(J)   AS(K)          AS(L)            &as DQT SQT
   AS(Z) AS(X) AS(C)      AS(V)   AS(B)          AS(N)     AS(M)   &as COMMA DOT  &as SEMI COLON   &as SLASH QMARK
               &kp LGUI   &mo 1   &kp SPACE      AS(RET)   &mo 2   &kp RSHIFT
                        >;
                };

                left_layer {
                        display-name = "Left";
                        bindings = <
   &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT        &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR  &kp RPAR
   &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &trans           &trans    &kp LEFT  &kp DOWN        &kp UP    &kp RIGHT  
   &trans       &trans       &trans       &trans       &trans           &trans    &trans    &trans          &trans    &trans 
                             &kp LGUI     &trans       &kp SPACE        AS(RET)   &trans    &kp RSHIFT
                        >;
                };

                right_layer {
                        display-name = "Right";
                        bindings = <
   AS(N1)    AS(N2)    AS(N3)    AS(N4)    AS(N5)        AS(N6)    AS(N7)    AS(N8)      AS(N9)     AS(N0)
   AS(MINUS) AS(EQUAL) &kp LBRC  &kp LBKT  &kp LPAR      &kp RPAR  &kp RBKT  &kp RBRC    AS(FSLH)   AS(BSLH)
   AS(GRAVE) &trans    &trans    AS(COMMA) &kp COLON     &kp SEMI  AS(DOT)   &kp LCTRL   &kp RALT   &trans
                       &kp LGUI  &trans    &kp SPACE     AS(RET)   &trans    &kp RSHIFT
                        >;
                };

                config_layer {
                        display-name = "Config";
                        bindings = <
   &trans       &trans       &trans       &trans       &trans            &trans    &kp C_PREVIOUS   &kp C_PLAY_PAUSE  &kp C_NEXT   &kp C_VOLUME_DOWN
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &trans    &trans           &trans            &trans       &kp C_VOLUME_DOWN
   &bt BT_CLR   &trans       &trans       &trans       &trans            &trans    &trans           &trans            &trans       &kp C_MUTE
                             &trans       &trans       &trans            &trans    &trans           &trans
                        >;
                };
        };
};