#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define AS(keycode) &as LS(keycode) keycode

/ {
        chosen {
                zmk,physical-layout = &foostan_corne_5col_layout;
        };

        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                        if-layers = <1 2>;
                        then-layer = <3>;
                };
        };

        combos {
                compatible = "zmk,combos";
                combo_esc {
                        timeout-ms = <50>;
                        key-positions = <0 1>;
                        bindings = <&kp ESC>;
                };
                combo_backspace {
                        timeout-ms = <50>;
                        key-positions = <8 9>;
                        bindings = <&kp BSPC>;
                };
                combo_tab {
                        timeout-ms = <50>;
                        key-positions = <10 11>;
                        bindings = <&kp TAB>;
                };
        };

        macros {
                d_line: duplicate_line {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LSHFT
                                &macro_press &kp LALT
                                &macro_tap &kp DOWN
                                &macro_release &kp LSHFT
                                &macro_release &kp LALT
                        >;
                };
                w_left: workspace_left {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LCTRL
                                &macro_tap &kp LEFT
                                &macro_release &kp LCTRL
                        >;
                };
                w_right: workspace_right {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LCTRL
                                &macro_tap &kp RIGHT
                                &macro_release &kp LCTRL
                        >;
                };
                clog: console_log {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LCTRL
                                &macro_press &kp LALT
                                &macro_tap &kp L
                                &macro_release &kp LCTRL
                                &macro_release &kp LALT
                        >;
                };
                lock_s: lock_screen {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LCTRL
                                &macro_press &kp LGUI
                                &macro_tap &kp Q
                                &macro_release &kp LCTRL
                                &macro_release &kp LGUI
                        >;
                };
                switch_w: switch_window {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_tap &kp TAB
                                &macro_release &kp LGUI
                        >;
                };
                switch_t: switch_tab {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LCTRL
                                &macro_tap &kp TAB
                                &macro_release &kp LCTRL
                        >;
                };
                copy: copy {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_tap &kp C
                                &macro_release &kp LGUI
                        >;
                };
                cut: cut {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_tap &kp X
                                &macro_release &kp LGUI
                        >;
                };
                paste: paste {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_tap &kp V
                                &macro_release &kp LGUI
                        >;
                };
                undo: undo {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_tap &kp Z
                                &macro_release &kp LGUI
                        >;
                };
                redo: redo {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_press &kp LSHFT
                                &macro_tap &kp Z
                                &macro_release &kp LSHFT
                                &macro_release &kp LGUI
                        >;
                };
                close_tab: close_tab {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_tap &kp W
                                &macro_release &kp LGUI
                        >;
                };
                u_close_tab: undo_close_tab {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_press &kp LSHFT
                                &macro_tap &kp T
                                &macro_release &kp LSHFT
                                &macro_release &kp LGUI
                        >;
                };
                close_app: close_app {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LGUI
                                &macro_tap &kp Q
                                &macro_release &kp LGUI
                        >;
                };
                mlu: move_line_up {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LALT
                                &macro_tap &kp UP
                                &macro_release &kp LALT
                        >;
                };
                mld: move_line_down {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LALT
                                &macro_tap &kp DOWN
                                &macro_release &kp LALT
                        >;
                };
                mwl: move_word_left {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LALT
                                &macro_tap &kp LEFT
                                &macro_release &kp LALT
                        >;
                };
                mwr: move_word_right {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <
                                &macro_press &kp LALT
                                &macro_tap &kp RIGHT
                                &macro_release &kp LALT
                        >;
                };
        };

        behaviors {
                as: auto_shift {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping_term_ms = <200>;
                        quick_tap_ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };
        keymap {
                compatible = "zmk,keymap";

                mac_layer {
                        display-name = "Mac";
                        bindings = <
   AS(Q) AS(W) AS(E)        AS(R) AS(T)          AS(Y)   AS(U) AS(I)         AS(O)           AS(P)
   AS(A) AS(S) AS(D)        AS(F) AS(G)          AS(H)   AS(J) AS(K)         AS(L)           &as DQT SQT
   AS(Z) AS(X) AS(C)        AS(V) AS(B)          AS(N)   AS(M) &as COMMA DOT &as SEMI COLON  &as SLASH QMARK
               &kp LGUI TAB &mo 1 &kp SPACE      AS(RET) &mo 2 &as RSHIFT BSPC
                        >;
                };

                left_layer {
                        display-name = "Left";
                        bindings = <
   &kp PLUS   &kp N7  &kp N8  &kp N9  &kp STAR         &close_app   &switch_w  &mlu    &switch_t  &trans
   &kp MINUS  &kp N4  &kp N5  &kp N6  &kp SLASH        &close_tab   &mwl       &mld    &mwr       &trans
   &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp N0           &u_close_tab &w_left    &d_line &w_right   &trans
                      &trans  &trans  &trans           &trans       &trans     &trans
                        >;
                };

                right_layer {
                        display-name = "Right";
                        bindings = <
   &kp EXCL  &kp AT   &kp HASH &kp DLLR &kp CARET         &as UNDER MINUS  &kp HOME      &kp UP        &kp END   &trans 
   &trans    &trans   &trans   &kp PIPE &kp AMPS          &as BSLH SLASH   &kp LEFT      &kp DOWN      &kp RIGHT &as TILDE GRAVE 
   &undo     &cut     &copy    &paste   &redo             &as RPAR LPAR    &as RBRC LBRC &as RBKT LBKT &as GT LT &kp RSHIFT
                      &trans   &trans   &trans            &trans           &trans        &trans
                        >;
                };

                config_layer {
                        display-name = "Config";
                        bindings = <
   &lock_s       &trans        &trans        &trans        &trans         &trans      &kp C_PREV &kp C_PP &kp C_NEXT &kp C_VOL_UP
   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   &trans      &trans     &trans   &trans     &kp C_VOL_DN
   &bt BT_CLR    &trans        &trans        &trans        &trans         &trans      &trans     &trans   &trans     &kp C_MUTE
                               &trans        &trans        &trans         &trans      &trans     &trans
                        >;
                };
        };
};